*{
    margin: 0;
    padding: 0;
}
.container{
    width: 1000px;
    margin: 0 auto;
    background-color: aliceblue;
}
.imageContainer{
    height: auto;
    width: 100%;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

img#image{
    width: 100%;
    height: auto;
    display: block;
}

#img-div{
    width: 100%;
    height: auto;
}
#img-caption{
    text-align: center;
    color: white;
    font-size: 1.5em;
}
figcaption{
    background-color: blue;
    width: 100%;
    padding: 10px 0;
    align-items: center;
}
#title{
    text-align: center;
    padding: 10px;
}
.infoHeader{
    text-align: center;
    color: blue;
    text-transform: uppercase;
}
#tribute-info{
    padding: 0 20px;
}
.infoRow{
    padding: 10px 5px;
}
h5{
    font-size: 1.3em;
    font-weight: 400;
}
.outside{
    text-align: center;
    font-weight: bold;
    font-size: 1.17em;
    margin: 20px;
}